/* Resetting default browser styles */
body, h1, h2, h3, p, ul, ol {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    z-index: -1;
    transform: skewY(-5deg);
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

section {
    background-color: #fff;
    padding: 40px 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Display sections as a grid with two columns */
    gap: 20px; /* Add gap between grid items */
}

section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: -1;
    transform: skewY(5deg);
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333; /* Dark color for section headers */
}

section p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #555; /* Medium color for section content */
}

section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

section ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    z-index: -1;
    transform: skewY(5deg);
}

footer p {
    margin-bottom: 0;
}

/* Link styles */
a {
    color: #007bff; /* Blue color for links */
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3; /* Darker blue color on hover */
}

/* Contact info and GPA styles */
.contact-info-label {
    font-weight: bold;
}

.gpa {
    font-weight: bold;
}
